/* body{
    color: white;
    padding:"10000px 100px"
} */


/* .firstBox{
    display: flex;
    align-content: space-between;
} */
/* .b{
    color: green;
    display: flex;
    justify-content: space-between;
    padding:"10px 100px"
} */